{% extends "base.html" %}
{% block content %}
<section>
    <section class="heading_area">
        <h2>NFL Teams</h2>
        <br>
        <button class="button"><a href="/teams/new">Add Team</a></button>
    </section>
    <section>
    {% for team in teams %}
        <section class="information_display">
            <ul>
                <h3>{{team.location}} {{team.name}}</h3>
                <!-- <p id="team_name"><a href="fixtures/{{team.id}}">{{team.location}} {{ team.name }}</a></p> -->
            </ul>
            <div class="button_group">
                <button class="button"><a href="fixtures/{{team.id}}"><i class="fa fa-calendar"></i></a></button>
                <button class="button"><a href="teams/players/{{team.id}}"><i class="fa fa-group"></i></a></button>
                    <button class="button"><a href="teams/{{team.id}}/edit"><i class="fa fa-pencil"></i></a></button>
                <form class="delete_button" action="/teams/{{ team.id }}/delete" method="POST">
                    <button class="button"><a href="teams/{{team.id}}/delete"><i class="fa fa-trash"></i></a></button>
                </form>
            </div>
        </section>
    </section>
{% endfor %}
</section>

{% endblock %}