{% extends "base.html" %}
{% block content %}
<section>
    <section class="heading_area">
        <h2>NFL Teams</h2>
        <br>
        <button class="button"><a href="/teams/new">Add Team</a></button>
    </section>
    <section>
    {% for team in teams %}
        <section class="information_display">
            <ul>
                <p id="team_name"><a href="fixtures/{{team.id}}">{{team.location}} {{ team.name }}</a></p>
            </ul>
            <div class="button_group">
                <form class="delete_button" action="/teams/{{ team.id }}/delete" method="POST">
                    <button class="button"><a href="teams/{{team.id}}/delete">Delete</a></button>
                </form>
                    <button class="button"><a href="teams/players/{{team.id}}">Players</a></button>
                    <button class="button"><a href="teams/{{team.id}}/edit">Edit</a></button>
            </div>
        </section>
    </section>
{% endfor %}
</section>

{% endblock %}