{% extends "base.html" %}
{% block content %}

<section>
    <h2>Player Information</h2>

    <button><a href="/teams/players/new">Add a Player</a></button>

</section>
<section class="player_index">
    {% for player in players%}
    <div>
        <p>Player Name: {{ player.player_name }}</p>
        <p>Player Team: {{ player.team_id.name }}</p>
        <p>Position: {{ player.position }}</p>
        <p>Jersey Number: {{ player.jersey_number }}</p>
        <p>Total Passing Yards: {{ player.passing_yards }}</p>
        <p>Total Rushing Yards: {{ player.rushing_yards }}</p>

        <button><a href="/teams/players/{{ player.id }}/edit">Edit Player</a></button>

        <form action="/teams/players/{{ player.id }}/delete" method="POST">
            <input type="submit" value="Delete">
        </form>
    </div>
    {% endfor %}
</section>
{% endblock %}