{% extends "base.html" %}
{% block content %}

<section class="heading_area">
    <h4>Player Information</h4>

    <button class="button"><a href="/teams/players/new">Add a Player</a></button>

</section>
<section class="player_index">
    {% for player in players%}
    <div>
        <p>Player Name: {{ player.player_name }}</p>
        <p>Player Team: {{ player.team_id.name }}</p>
        <p>Position: {{ player.position }}</p>
        <p>Jersey Number: {{ player.jersey_number }}</p>
        <p>Total Passing Yards: {{ player.passing_yards }}</p>
        <p>Total Rushing Yards: {{ player.rushing_yards }}</p>

        <button class="button"><a href="/teams/players/{{ player.id }}/edit">Edit Player</a></button>

        <form action="/teams/players/{{ player.id }}/delete" method="POST">
            <button class="button"><a href="teams/{{player.id}}/delete">Delete</a></button>
        </form>
    </div>
    {% endfor %}
</section>
{% endblock %}