<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/static/style.css">

    <title>SPORTSCORING</title>
</head>
<body>
    <header>
        <h1 class ="logo">SPORTSCORING</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/teams">Teams</a>
            <a href="/fixtures">Fixtures</a>
            <a href="/teams/players">Players</a>
        </nav>
    </header>
    <img class="background_image" src="/static/imgs/stadium_logo.jpeg" alt="image">
    <div id="content-wrapper">
        {% block content %}

        {% endblock %}
    </div>

</body>
</html>